h1{color:#212121;
   font-family:poppins;
  font-size: 60px;
padding-top: 30px;
  padding-bottom:30px; 
text-transform:uppercase;
letter-spacing:10px;
font-weight:700}

h2{color:#212121;
   font-family:poppins;
  font-size:20px;
letter-spacing:4px;
line-height:45px;
font-weight:400}

.gen{text-align:center; 
  margin:auto;
  padding:40px;
  max-width:50%;
  max-height:30%;
  display: block;}

a:link {
  color:#212121;
  text-decoration: none;
  font-size:20px}

a:visited {
  color:#212121;}
  
a:hover {
  text-decoration:none;
  color:#ff0000}

a:active {
  color: #2f65b2;}
  
  .button{bakground-color: #2f65b2;
     color:#ffffff;
  text-decoration:none;
  font-size:20px;
  font-family:poppins;
  text-transform:uppercase;
  font-weight:600;
  letter-spacing:4px;
  margin:100px auto;
  padding:15px;
  text-align: center;
  width: 400px; 
 }

.button:hover{border:6px solid #2f65b2;
   color:#2f65b2;
   text-decoration:none;
bakground-color: #ffffff}


.sfondo {background-image: url(https://raw.githubusercontent.com/AlcibiadeR/portfolio/main/sfondo1.svg), url(https://raw.githubusercontent.com/AlcibiadeR/portfolio/main/sfondo2.svg); 
             background-position: left top, right bottom; 
             background-repeat: no-repeat, no-repeat;
             background-size: 200%
